<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/cart.css">
</head>

<body>
    <%- include('./partials/nav.ejs')%>


        <table>
            <form action="/cart?_method=DELETE" method="POST">
                <input id="buybye" type="submit"  value="I WANT IT">
            </form>
            <% cartBuds.forEach(charm=>{ %>
                <tr>
                    <!-- display img/name/desc/price/qty -->
                    <div class="pic">
                        <td id="img"><a class="img" href="/<%=charm._id%>"><img src="<%=charm.img%>"
                                    alt="charm.name"></a></td>
                    </div>
                    <td id="name">
                        <%=charm.name%><br>
                            <br>
                            Price: $<%=charm.price%>
                                <br>
                                <br>
                                <% /* %>
                                    <% cartBuds.findById('615b897a872f7e0d3eb44c4b') reduce by the qty bought %>
                                        <% */ %>
                                            <!-- find by id and update with some extra sh*t -->
                                            <% /* %>
                    <td>Quantity: <input type="number" id="qty" name="qty" min=1 max=<%=charm.qty%>></td>
                    <% */ %>

                        <form action="/cart">
                            <label for="qty">Quantity</label>
                            <select name="qty" id="qty">
                                <% for(let i=1; i <=charm.qty; i++) { %>
                                    <option value="<%=i%>">
                                        <%=i%>
                                    </option>
                                    <% } %>
                            </select>
                        </form>
                        <br>

                        <form action="/<%=charm._id%>/cart?_method=DELETE" method="POST">
                            <input id="delete" type="submit" value="Remove">
                        </form>
                        </td>
                </tr>
                <% }) %>

        </table>

</body>

</html>