<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
<body>
    <nav>
        <a href="/valo" class="valo"><h1>Valorant Buddies</h1></a>
        <a href="/valo/cart" class="cart">Cart</a>
    </nav>

    <table>
        <form action="/valo/cart?_method=DELETE" method="POST">
            <input type="submit" value="I WANT IT">
        </form>
        <% cartBuds.forEach(charm =>{ %> 
            <tr>
                <!-- display img/name/desc/price/qty -->
                <td><a href="/valo/<%=charm._id%>"><img src="<%=charm.img%>" alt="charm.name"></a></td>
                <td><%=charm.name%></td>
                <td>Price: $<%=charm.price%></td>
                <% /* %>
                <% cartBuds.findById('615b897a872f7e0d3eb44c4b') reduce by the qty bought %>
                <% */ %>
                <!-- find by id and update with some extra sh*t -->
                
                <td>Quantity: <input type="number" id="qty" name="qty" min="1" max="<%=charm.qty%>"></td>
                <td>
                <form action="/valo/<%=charm._id%>/cart?_method=DELETE" method="POST">
                    <input type="submit" value="Remove">
                </form>
                </td>
            </tr>
        <% }) %>

    </table>

</body>
</html>